$tileSize: 12.5%;

$darkTile: #779952;
$lightTile: #edeed1;

.tile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tileSize;
  width: $tileSize;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.25rem;

  &_dark {
    color: $lightTile;
    background-color: $darkTile;
  }

  &_light {
    color: $darkTile;
    background-color: $lightTile;
  }

  &__label {
    position: absolute;
    user-select: none;

    &_x {
      top: 0.25rem;
      left: 0.25rem;
    }

    &_y {
      bottom: 0.25rem;
      right: 0.25rem;
    }
  }
}
