$ceilSize: 12vh;

$darkTile: #779952;
$lightTile: #edeed1;

.chess-board {
  display: flex;
  flex-wrap: wrap;
  height: $ceilSize * 8;
  width: $ceilSize * 8;

  &-tile {
    position: relative;
    height: $ceilSize;
    width: $ceilSize;
    padding: 0.25rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;

    &_dark {
      color: $lightTile;
      background-color: $darkTile;
    }

    &_light {
      color: $darkTile;
      background-color: $lightTile;
    }

    &__label {
      position: absolute;

      &_horizontal {
        top: 0.25rem;
        left: 0.25rem;
      }

      &_vertical {
        bottom: 0.25rem;
        right: 0.5rem;
      }
    }
  }
}
