$tileSize: 12.5%;

$lightTile: #edeed1;
$lightTileHighlight: #f6f669;
$darkTile: #779952;
$darkTileHighlight: #baca2b;

.tile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tileSize;
  width: $tileSize;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.25rem;

  &_dark {
    color: $lightTile;
    background-color: $darkTile;

    &.active {
      background-color: $darkTileHighlight;
    }
  }

  &_light {
    color: $darkTile;
    background-color: $lightTile;

    &.active {
      background-color: $lightTileHighlight;
    }
  }

  &-label_x,
  &-label_y {
    position: absolute;
    user-select: none;
  }

  &-label {
    &_x {
      top: 0.25rem;
      left: 0.25rem;
    }

    &_y {
      bottom: 0.25rem;
      right: 0.25rem;
    }
  }
}
