@import '../../scss/chess-piece.mixin.scss';

.chess-piece {
  @include chessPiece;

  &-king-white {
    background-image: url(../../../public/assets/wk.png);
  }

  &-king-black {
    background-image: url(../../../public/assets/bk.png);
  }

  &-queen-white {
    background-image: url(../../../public/assets/wq.png);
  }

  &-queen-black {
    background-image: url(../../../public/assets/bq.png);
  }

  &-rook-white {
    background-image: url(../../../public/assets/wr.png);
  }

  &-rook-black {
    background-image: url(../../../public/assets/br.png);
  }

  &-bishop-white {
    background-image: url(../../../public/assets/wb.png);
  }

  &-bishop-black {
    background-image: url(../../../public/assets/bb.png);
  }

  &-knight-white {
    background-image: url(../../../public/assets/wn.png);
  }

  &-knight-black {
    background-image: url(../../../public/assets/bn.png);
  }

  &-pawn-white {
    background-image: url(../../../public/assets/wp.png);
  }

  &-pawn-black {
    background-image: url(../../../public/assets/bp.png);
  }
}
